@import url('https://fonts.googleapis.com/css?family=Lato');

body{
    margin: 0;
    background-color: #a4e1f4;
    width: 100%;
    transition: background-color 1s
}
canvas {
	position: absolute;
	width: 100% !important;
	height: 63vh !important;
    margin-bottom: 37vh;
    position: fixed;
}


#canvas {
	width: 100%;
	height: 100%;
    margin-bottom: 37vh;
    position: fixed;
    z-index: 100;
}

#instructions {
	opacity: 1;
	transition: opacity 2s;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
}
#timeline {
    position: absolute;
    bottom: 0;
    padding-right: 10vh;
    padding-left: 10vh;
    z-index: 999
    
}
#infobox {
    min-height: 2vh;
    max-width: 30vw;
    background: white;
    opacity: 0;
    top: 50vh;
    position: absolute;
    padding: 2vh;
    border-radius: 2px;
}

.axis {
    color: white;
    fill: white;
}

rect, g, svg {
    overflow: visible;
}

.axis-text, .interval-label, .event-label, .info-box-title, .info-box-description {
    font-family: 'Lato';
    font-size: 2vh;
}

.interval-text, .info-box-title  {
    font-weight: bold;
}

.axis-text {
    text-anchor: middle;
    fill: white;
}
.tick line {
    stroke: rgba(0,0,0,0);
}
.domain {
    stroke: rgba(0,0,0,0);
}

#fxcanvas {
    height: 100%;
}

#foreground {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    width: 2805vh;
}

#background {

}


.tent-foreground {
    background-image: url('assets/tent_fg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100%;
    float: left;
    background-size: 100% auto;
    
}

.tent-middleground {
    background-image: url('assets/tent_mg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100%;
    float: left;
    background-size: 100% auto;
    
}    

.tent-background1 {
    background-image: url('assets/tent_bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100%;
    float: left;
    background-size: 100% auto;
}    

 

#front-black {
    background-color: black;
    z-index: 200;
    width: 2805vh;
    height: 220px;
    position: absolute;
    bottom: 0
}


.rellax {
	position: absolute;
	width: 100%;
	transform: translateX(var(--translateY));
    will-change: transform;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    width: 2805vh;

}



