@import url('https://fonts.googleapis.com/css?family=Lato');

body{
    margin: 0;
    background-color: #000000;
}
canvas, #instructions {
	position: absolute;
	width: 100%;
	height: 63vh;
    margin-bottom: 37vh;
    position: fixed;
}
#instructions {
	opacity: 1;
	transition: opacity 2s;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
}
#timeline {
    position: absolute;
    bottom: 0;
    padding-right: 10vh;
    padding-left: 10vh;
}
#infobox {
    min-height: 2vh;
    max-width: 30vw;
    background: white;
    opacity: 0;
    top: 50vh;
    position: absolute;
    padding: 2vh;
    border-radius: 2px;
}

.axis {
    color: white;
    fill: white;
}

rect, g, svg {
    overflow: visible;
}

.axis-text, .interval-label, .event-label, .info-box-title, .info-box-description {
    font-family: 'Lato';
    font-size: 2vh;
}

.info-box-description {
}

.interval-text, .info-box-title  {
    font-weight: bold;
}

.axis-text {
    text-anchor: middle;
    fill: white;
}
.tick line {
    stroke: rgba(0,0,0,0);
}
.domain {
    stroke: rgba(0,0,0,0);
}
