body{
    margin: 0; 
}
svg {
    font-size: 2em;
}
.axis {
    color: #ffffff;
    fill: #ffffff;
}
rect, g {
    overflow: visible;
}
.tick > text {
    fill: #ffffff;
}
.tick, text {
    font: 14px arial;
    font-weight: bold;
    text-anchor: middle;
}
